@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #030712;
  color: #f9fafb;
  margin: 0;
}

/* Leaflet z-index fix */
.leaflet-pane { z-index: 400; }
.leaflet-top, .leaflet-bottom { z-index: 500; }
